* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 90px;
}

.login-input input {
    padding: 12px 132px;
}

.login-input a {
    text-decoration: none;
}

.btn-login {
    padding: 12px 182px;
    background-color: blue;
    color: white;
    border-radius: 5px;
    border: none;
}

@media screen and (max-width: 600px) {
    .comment {
        display: none;
    }
   
}